
<%
var pageTitle = page.title || config.subtitle || '';
if (is_archive()) pageTitle = __('sidebar.archive');
if (is_tag()) pageTitle = __('title.tag') +' - '+ page.tag;
if (is_category()) pageTitle = __('title.category') +' - '+ page.category;
if (is_month()) pageTitle += ': ' + page.month + '/' + page.year;
if (is_year()) pageTitle += ': ' + page.year;
pageTitle += ' | ' + config.title;
if (is_home()) pageTitle = config.title;
%>

<!DOCTYPE html>
<html lang="<%=config.language%>">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <% if (page.keywords !== undefined) { %>
        <meta name="keywords" content="<%=page.keywords%>" />
    <% } else if (page.tags !== undefined && page.tags.length > 0) { %>
        <meta name="keywords" content="<% page.tags.forEach(function(tag) { %><%=tag.name%>,<% }); %>" />
    <% } else if (theme.keywords !== undefined) { %>
        <meta name="keywords" content="<%=theme.keywords%>" />
    <% } %>
    <%-open_graph()%>
    <title><%=pageTitle%></title>
    <link rel="shortcut icon" type="image/x-icon" href="<%=theme.favicon%>">
    <% if (theme.stylesheets !== undefined && theme.stylesheets.length > 0) { %>
        <% theme.stylesheets.forEach(function(url) { %>
            <link rel="stylesheet" href="<%=url%>">
        <% }); %>
    <% } %>
</head>
<body>
    <div class="container">
        <div class="header-outer">
            <div class="header-site">
                <div class="header-title">
                    <%=config.title%>
                </div>
                <div id="hitokoto" class="header-subtitle">
                    <%=config.subtitle%>
                </div>
            </div>
            <div class="header-menu">
                <% Object.keys(theme.menu).forEach(function(key, num) { %>
                    <% if (__('nav.'+key) !== "nav."+key) { %>
                        <span class="header-nav">
                            <a href="<%=theme.menu[key]%>"><%=__('nav.'+key)%></a>
                        </span>
                    <% } else {%>
                        <span class="header-nav">
                            <a href="<%=theme.menu[key]%>"><%=key%></a>
                        </span>
                    <% } %>
                    <% if (Object.keys(theme.menu).length - 1 > num) { %>
                        <span class="flag">/</span>
                    <% } %>
                <% }); %>
            </div>
        </div>

        <div id="content-outer">
            <div id="content-inner">
                <%- body %>
            </div>
        </div>

        <div class="footer-outer">
            <div class="footer-items">
                <span class="footer-copyright">
                    <i class="fa fa-copyright"></i>
                </span>
                <span class="footer-year">
                    <%=theme.since%> - <%=time(new Date(),'Y')%>
                </span>
                <span class="footer-author">
                    <%=config.author%>
                </span>
                <%if (theme.footer_wordcount == 'enabled') { %>
                    <span class="footer-wordcount">
                        <i class="fa fa-pencil footer-icon"></i>
                        Has <%=totalcount(site)%> words.
                    </span>
                <% } %>
            </div>
            <div class="footer-inner">
                <span class="footer-other">
                    <%-theme.footer_expand%>
                    <%= __('misc.theme')%> <a href="https://github.com/isecret/Hola">Hola</a> / <a href="http://hexo.io">Hexo</a>.
                </span>
            </div>
        </div>
    </div>
    <% if (theme.scripts !== undefined && theme.scripts.length > 0) { %>
        <% theme.scripts.forEach(function(url) { %>
            <script src="<%=url%>"></script>
        <% }); %>
    <% } %>
    <% if (is_post() || is_page()) { %>
    <% } %>
	<script>
             var notify = <%= theme.valine.notify %> == true ? true : false;
             var verify = <%= theme.valine.verify %> == true ? true : false;
             var visitor = <%= theme.valine.visitor %> == true ? true : false;
         new Valine({
             el: '#vcomments',
             notify: notify,
             verify: verify,
             app_id: '<%= theme.valine.app_id %>',
             app_key: '<%= theme.valine.app_key %>',
             lang: 'en',
             placeholder: '<%= theme.valine.placeholder %>',
             avatar: '<%= theme.valine.avatar %>',
             pageSize: <%= theme.valine.pageSize %>,
             visitor: visitor
            });
    </script>
    <% if (theme.hitokoto == 'enabled') { %>
    <script>
        fetch('https://api.hitokoto.cn')
            .then(function (res){
                return res.json();
            })
            .then(function (data) {
                var hitokoto = document.getElementById('hitokoto');
                hitokoto.innerText = '『' + data.hitokoto + '』——' + '「' + data.from + '」';
            })
            .catch(function (err) {
                console.error(err);
            });
    </script>
    <% } %>
</body>
<script>

    ALU();
    // 同时也可以传入参数进行配置
    // ALU({
    //     element: document.body,
    //     url: "https://res.smzdm.com/images/emotions/",
    //     addClass: "alu-face",
    //     mapping: {
    //         "高兴": "22.png",
    //         "皱眉": "23.png",
    //         "阴笑": "24.png",
    //         "鄙视": "25.png",
    //         "邪恶": "26.png",
    //         "大囧": "27.png",
    //         "惊喜": "28.png",
    //         "小眼睛": "29.png",
    //         "小怒": "30.png",
    //         "无语": "31.png",
    //         "傻笑": "32.png",
    //         "期待": "33.png",
    //         "得逞": "34.png",
    //         "呲牙": "35.png",
    //         "喜极而泣": "36.png",
    //         "晕死": "37.png",
    //         "脸红": "38.png",
    //         "亲亲": "39.png",
    //         "狂汗": "40.png",
    //         "困": "41.png",
    //         "饥饿": "42.png",
    //         "得意": "43.png",
    //         "抠鼻": "44.png",
    //         "抽烟": "45.png",
    //         "内伤": "46.png",
    //         "口水": "47.png",
    //         "吐": "48.png",
    //         "流鼻涕": "49.png",
    //         "绷带": "50.png",
    //         "吐舌": "51.png",
    //         "口罩": "52.png",
    //         "不说话": "53.png",
    //         "不出所料": "54.png",
    //         "装大款": "55.png",
    //         "尴尬": "56.png",
    //         "喷水": "57.png",
    //         "喷血": "58.png",
    //         "咽气": "59.png",
    //         "哼小曲": "60.png",
    //         "吹泡泡": "61.png",
    //         "愤怒": "62.png",
    //         "冻住": "63.png",
    //         "赞一个": "64.png",
    //         "差评": "65.png",
    //         "中指": "66.png",
    //         "哦耶": "67.png",
    //         "拳头": "68.png",
    //         "手掌": "69.png",
    //         "就是你": "70.png",
    //         "过来": "71.png",
    //         "吃雪糕": "72.png",
    //         "吃香蕉": "73.png",
    //         "ok": "74.png",
    //         "看不见": "75.png",
    //         "无所谓": "76.png",
    //         "欢呼": "77.png",
    //         "偷笑": "78.png",
    //         "无奈": "79.png",
    //         "害羞": "80.png",
    //         "打脸": "81.png",
    //         "想一想": "82.png",
    //         "嘘": "83.png",
    //         "烧香": "84.png",
    //         "抱拳": "85.png",
    //         "鼓掌": "86.png",
    //         "观察": "87.png",
    //         "锁眉": "88.png",
    //         "黑线": "89.png",
    //         "汗": "90.png",
    //         "哭泣": "91.png",
    //         "阴暗": "92.png",
    //         "暗地观察": "93.png",
    //         "潜水": "94.png",
    //         "蜡烛": "95.png",
    //         "投降": "96.png",
    //         "吐血倒地": "97.png",
    //         "便便": "98.png",
    //         "长草": "99.png",
    //         "绿帽子": "100.png",
    //         "注意安全": "101.png",
    //         "被砍": "102.png",
    //         "捶打": "103.png",
    //         "肿包": "104.png",
    //         "坐等": "105.png",
    //         "看热闹": "106.png",
    //         "深思": "107.png",
    //         "被监视": "108.png",
    //     },
    // });
</script>
</html>
